.App {
    width: 100%;
    height: 100vh;
}

.App-title {
    text-align: center;
    margin-bottom: 50px;
}

.App-board {
    display: flex;
    justify-content: center;
}

.App-fetchButton {
    cursor: pointer;
    margin-top: 50px;
    width: 150px;
    height: 40px;
    border: 1px solid black;
    font-weight: bold;
}
