.ChessBoard {
  width: 500px;
  height: 500px;
}

.ChessBoard-squaresContainer {
  display: flex;
  justify-content: center;
}

.ChessBoard-squares {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
