.ChessBoardPage {
  width: 100%;
  height: 100vh;
}

.ChessBoardPage-title {
  text-align: center;
  margin-bottom: 50px;
}

.ChessBoardPage-board {
  display: flex;
  justify-content: center;
}

.ChessBoardPage-legend {
  margin-bottom: 50px;
}

.ChessBoardPage-apiError {
  text-align: center;
  color: red;
}
