.OnboardingPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.OnboardingPage-carouselContainer {
  max-width: 500px;
  width: 100%;
}

.OnboardPage-title {
  margin-bottom: 0;
}

.OnboardPage-subtitle {
  margin-top: 10px;
  max-width: 600px;
  text-align: center;
}
